<header class="header" role="banner">
        <div class="header-img">
            <img src="{{ '/assets/img/site.drawio.svg' | relative_url }}" href="{{ '/' | relative_url }}" />
        </div>
        <div class="header-nav">
            <tab>
                <a href="/">主页</a>
            </tab>
            {%- for item in site.collections -%}
            <tab>
                <a href="{{item.label}}"> {{ item.label }}</a>
            </tab>
            {%- endfor -%}
            <tab>
                <a href="/about">关于</a>
            </tab>
        </div>
</header>